{% extends 'base.html' %}
{% load static %}


{% block content %}

<h1>Reservation Confirmation</h1>
<p>Thank you for your reservation!</p>
<p>Here are the details of your reservation:</p>
<ul>
    <li><strong>Name:</strong> {{ reservation.first_name }} {{ reservation.last_name }}</li>
    <li><strong>Email:</strong> {{ reservation.email }}</li>
    <li><strong>Phone:</strong> {{ reservation.phone }}</li>
    <li><strong>Guests:</strong> {{ reservation.guests }}</li>
    <li><strong>Reservation Date:</strong> {{ reservation.reservation_date }}</li>
    <li><strong>Reservation Time:</strong> {{ reservation.reservation_time }}</li>
</ul>
<a href="/" class="btn btn-primary">Back to Home</a>
{% endblock %}
