{% extends 'base.html' %}

{% block content %}
<div class="container mt-5">
    <h2>Welcome, {{ user.username }}</h2>

    <div class="mt-4">
        <a href="{% url 'make_reservation' %}" class="btn btn-primary">Make a Reservation</a>
    </div>

    <h3 class="mt-5">My Reservations</h3>
    {% if reservations %}
        <ul class="list-group">
            {% for reservation in reservations %}
            <li class="list-group-item">
                <strong>Username:</strong> {{ reservation.user.username }}<br>
                <strong>Email:</strong> {{ reservation.email }}<br>
                <strong>Phone:</strong> {{ reservation.phone }}<br>
                <strong>Date:</strong> {{ reservation.reservation_date }}<br>
                <strong>Time:</strong> {{ reservation.reservation_time }}<br>
                <strong>Guests:</strong> {{ reservation.guest_count }}<br>
                
                <div class="float-end">
                    <a href="{% url 'edit_reservation' reservation.id %}" class="btn btn-primary">Edit Reservation</a>
                    <a href="{% url 'cancel_reservation' reservation.id %}" class="btn btn-danger">Cancel Reservation</a>
                </div>
            </li>
        {% endfor %}
        
        </ul>
    {% else %}
        <p>You have no reservations yet. Click "Make a Reservation" to get started.</p>
    {% endif %}
</div>
{% endblock %}
