{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="form-wrapper">
    <div class="form-container">
    <h1>Edit Reservation</h1>
    <form method="post" action="{% url 'edit_reservation' reservation.id %}">
        {% csrf_token %}
    
        <div class="form-group">
            <label for="reservation_date">Date</label>
            {{ form.reservation_date }}
        </div>
    
        <div class="form-group">
            <label for="reservation_time">Time</label>
            {{ form.reservation_time }}
        </div>
    
        <div class="form-group">
            <label for="guest_count">Number of Guests</label>
            {{ form.guest_count }}
        </div>
    
        <button type="submit" class="btn btn-primary mt-3">Save Changes</button>
    </form>    
    
</div>
</div>
{% endblock %}


