{% extends 'base.html' %}
{% load static %}

{% block content %}
<!-- Hero Section -->
<div class="hero position-relative d-flex align-items-center justify-content-center" style="height: 80vh;">
    <img src="{% static 'images/background-image.jpg' %}" alt="Background Image" class="img-fluid w-100 h-100" style="object-fit: cover;">
    <div class="hero-text position-absolute text-center text-white">
        <h1 class="display-4 fw-bold">Welcome to Essence Cuisine</h1>
        <p class="fs-4">Where flavors meet sophistication</p>
        <a href="" class="btn btn-warning btn-lg mt-3">Book a Table</a>
    </div>
</div>
{% endblock %}
